# -*- mode: gitignore; -*-

*.elc
*.rel
*_archive
*_flymake.*
*secret*
*~
./.*
.\#*
.cache/
.cask/
.dir-locals.el
.last*
.lsp*
.mc-lists.el
.org-id-locations
.projectile
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
\#*\#
auto-save-list
backups/*
bookmarks
dist/
erc-config.el
erc-config.org
flycheck_*.el
org-clock-save.el
projectile-bookmarks..mc-lists.el
eld
eln-cache/
projectile-bookmarks.eld
projectile.cache
recentf
secrets/*
server/*
session*
snippets/org-mode/my*
sod.el
sod.emacs-listp
straight/
themes/
tramp
transient/
true
url/